@import "../vars"

.btn-first
  color: #ffffff
  background-color: $color-first

  &:hover
    color: #ffffff
    background-color: $color-first-dark

.btn-second
  color: #ffffff
  background-color: $color-second

  &:hover
    color: #ffffff
    background-color: $color-second-dark

.btn-link
  color: $color-second

  &:hover
    color: $color-second-dark

// Social media
.btn-fb
  color: #ffffff
  background-color: $color-fb

  &:hover
    color: #ffffff
    background-color: lighten($color-fb, 10%)

.btn-tw
  color: #ffffff
  background-color: $color-tw

  &:hover
    color: #ffffff
    background-color: lighten($color-tw, 10%)