@import "../vars"

#navbar-primary
  background-color: $color-first

  &.admin
    font-family: 'Tahoma', sans-serif

  .navbar-brand
    color: #ffffff
    transition: color 0.2s
    font-family: 'Carter One', 'Tahoma', sans-serif

    &:hover
      color: $color-first

  .navbar-toggler
    color: #ffffff
    font-size: 1.6rem

  .navbar-collapse
    background-color: $color-first-light
    margin: 0 -16px
    padding: 0 16px

    .navbar-nav
      .nav-item
        a
          color: #ffffff
          transition: color 0.2s

          &:hover
            color: $color-first

        .dropdown-menu
          border: none
          background: none

          .dropdown-item
            color: #ffffff