@import "../vars"

.color-first
  color: $color-first

.color-second
  color: $color-second

.color-muted
  color: $color-text-muted

.color-white
  color: #ffffff

.font-primary
  font-family: 'Carter One', 'Tahoma', sans-serif

.text-shadow
  text-shadow: $text-shadow