@import "vars"
@import "lg/nav"

#indexPresenter
  margin-top: -60px

  .product
    height: 650px
    padding: 20px

    .content
      padding: 20px

#page-content
  padding-top: 60px

.product-bg
  margin-top: -60px
  padding: 80px 20px 20px 20px
