@import "vars"

#indexPresenter
  .product
    height: 500px

    .content
      padding: 10px

.product-bg
  background-size: cover
  background-position: top center
  background-repeat: no-repeat

  &#tshirt-old
    background-image: url('../images/tshirts/bg.jpg')

  &#tshirt-sober
    background-image: url('../images/tshirts/bg4.jpg')

  &#tshirts-set
    background-image: url('../images/tshirts/bg2.jpg')
