@import "vars"
@import "xs/button"
@import "xs/nav"
@import "xs/typography"

a
  color: $color-first

  &:hover
    color: $color-first-dark

.bg-divider
  background-color: $color-divider

.bg-text
  background-color: rgba($color-text, 0.7)
  border-radius: 0.25rem

.big-icon
  font-size: 5rem
  transition: color 0.2s

  &:hover
    color: $color-first

body
  color: $color-text

.breadcrumb
  background-color: $color-text-muted

hr
  &.part
    width: 33.33%

  &.first
    border-top: 2px solid $color-first

  &.second
    border-top: 2px solid $color-second

#indexPresenter
  .product
    background-size: cover
    background-position: center center
    color: #ffffff
    height: 400px
    padding: 15px

    .content
      background-color: rgba($color-text, 0.7)
      border-radius: 0.25rem
      display: inline-block
      padding: 5px

    &#old
      background-image: url('../images/bg_old.jpg')
      background-position: bottom
      text-align: right

    &#sober
      background-image: url('../images/bg_sober.jpg')
      background-position: bottom

.color
  display: inline-block
  border: 1px solid $color-text
  border-radius: 0.25rem
  width: 16px
  height: 16px

  &.color-white
    background-color: #ffffff

  &.color-black
    background-color: #000000

.list-group
  .list-group-item-action
    &.active
      background-color: $color-second
      border-color: $color-second-dark

#page-content
  padding-top: 54px

  &.admin
    padding-top: 0

#page-footer
  background-color: $color-text-muted
  padding: 20px 0
  text-align: center

  a
    color: $color-second-dark

    &:hover
      color: $color-second

  .payment-methods
    font-size: 3rem

  .social-networks
    font-size: 2rem
    letter-spacing: 10px

.product-bg
  background-color: $color-text-muted
  padding: 20px 0

.recaptcha
  text-align: center

  > div
    display: inline-block

#share-buttons
  .btn
    margin-bottom: 5px
