@import "../vars"

#navbar-primary
  background-color: rgba($color-text, 0.5)
  font-family: 'Carter One', 'Tahoma', sans-serif
  text-shadow: $text-shadow

  .navbar-brand
    font-size: 1.3rem

  .navbar-collapse
    background-color: transparent
    margin: 0
    padding: 0

    .navbar-nav
      .nav-item
        &.action
          a
            background-color: $color-second-light
            border-radius: 0.25rem
            transition: background-color 0.2s

            &:hover
              background-color: $color-second-dark
              color: #ffffff

        .dropdown-menu
          background-color: #ffffff

          .dropdown-item
            color: $color-text

        a
          font-size: 1.1rem
          padding: 8px 12px